<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="buckley.robert.tigertech" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PostView"
            android:label="@string/title_activity_post_view"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ViewPager"
            android:label="@string/title_activity_view_pager"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Gallery"
            android:label="@string/title_activity_gallery"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".GallerySubmit"
            android:label="@string/title_activity_gallery_submit"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Research"
            android:label="@string/title_activity_research"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ResearchSubmit"
            android:label="@string/title_activity_research_submit"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Swipe"
            android:label="@string/title_activity_swipe"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
